.bastida{
    text-align: center;
    font-family: bastida-font;
    font-size: var(--big-font-size);
    box-shadow: 2px 2px 8px var(--title-color );
    padding: 0 10px 0 10px;
    width: 100%;
}
.company{
    width: 100%;
    box-shadow: 2px 2px 8px var(--title-color );
}
.drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--big-font-size);
    color: var(--first-color);
}
.Experience_section{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Experiences{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.Experience{
    display:flex ;
    flex-direction: column;
    justify-content: space-b	;
    align-items: center;
    gap: 5px;
}
.Title_exp{
    visibility: hidden;
    opacity: 0;
}
.description__labor{
    visibility: hidden;
    opacity: 0;
}
.drop:hover ~ .Title_exp{
    visibility:visible;
    opacity: 1;
}
.drop:hover ~ .description__labor{
    visibility:visible;
    opacity: 1;
}
.Title_exp{
    color: var(--first-color);
}

/*medias*/
@media screen and (min-width: 768px) {
    .Experiences{
        flex-direction: initial;
        justify-content: space-evenly;
    }
    .Experience{
        width: 30%;
    }
}