.main__experience_skills{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.separator{
    padding: 10px;
}
hr{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}