.main-portafolio{
    height: 100vh;
}
.portfolio__container {
    height: 80%;
}
.portafolio-data{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.portafolio-data h2{
    font-size: 70px;
}
.slider{
    display: flex;
    height: 100%;
    width: 50%;
    aspect-ratio: 10/16;
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
.portfolio {
height: 100%;
}
.slider img{
    width: 50%;
    left: 0;
    position: sticky;
    object-fit: contain;
    scroll-snap-align: center;
}