.card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
input[type=radio]{
    display: none;
}



#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-4,
#item-3:checked ~ .cards #selector-2,
#item-4:checked ~ .cards #selector-3{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-4,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3,
#item-4:checked ~ .cards #selector-4{
    transform: translateX(0) scale(1);
    z-index: 1;
}

#item-1:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: -1;
}
#item-2:checked ~ .cards #selector-4{
    transform: translateX(0) scale(1);
    z-index: -1;
}
#item-3:checked ~ .cards #selector-1{
    transform: translateX(0) scale(1);
    z-index: -1;
}
#item-4:checked ~ .cards #selector-2{
    transform: translateX(0) scale(1);
    z-index: -1;
}


#item-1:checked ~ .cards #selector-1:hover .portfolio__hover {
    opacity: 1;
}
#item-2:checked ~ .cards #selector-2:hover .portfolio__hover {
    opacity: 1;
}
#item-3:checked ~ .cards #selector-3:hover .portfolio__hover {
    opacity: 1;
}
#item-4:checked ~ .cards #selector-4:hover .portfolio__hover {
    opacity: 1;
}



.portfolio__img__section{
    width: 100%;
}
.proyect__container{
    display: flex;
}
.portfolio__hover {
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}


.portfolio__title {
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.card:hover .portfolio__title {
    transform: translateY(0);
}
.modal__list {
    grid-template-columns: 1fr;
    row-gap: 10px !important;
    margin-bottom: 24px;
}
.modal__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.item__icon {
    display: flex;
}
.item__title,
.item__details {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.item__details {
    font-weight: var(--weight-600);
}
/*medias*/
@media screen and (min-width: 768px) {

}