.skills{
    height: 100vh;
}
.subtitle__center {
    text-align: center;
    
}
.skills__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 48px;
}
.bx{
    font-size: 20px;
}
.bxl-javascript{
    color: yellow;
}
.bxl-html5{
    color: orangered;
}
.bxl-css3{
    color:blue;
}
.bxl-react{
    color: aqua;
}
.bxl-github{
    color: black;
}
.bxl-redux{
    color: darkslateblue;
}

/*medias*/
@media screen and (min-width: 1024px) {
.skills__container {
    grid-template-columns: repeat(3, 1fr);
}
.bx{
    font-size: 200px;
}
}