*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: bastida-font;
    src: url(/public/SonicBT-ExtraBold.otf);
}

/*variables*/

:root{
    /*? colores ?*/
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 40%);
    --text-color: hsl(0, 0%, 50%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 90%);
    --border-color: hsl(0, 0%, 87%);
    --text-white: #fff;
    --twin-color-primary: #fff;
    --twin-color-secundary: #000000;
    

    /** fuentes**/
    --body-font: 'Abel', sans-serif;
    --second-font: 'Poppins', sans-serif;

    --big-font-size: 36px;
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 22px;
    --p-font-size: 16px;
    --large-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
    --tiny-font-size: 11px;

    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
}

    /*? colores oscuros ?*/
.dark-theme {
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 80%);
    --body-color: hsl(0, 0%, 7%);
    --container-color: hsl(0, 1%, 17%);
    --border-color: hsl(0, 0%, 15%);
    --twin-color-primary: #000000;
    --twin-color-secundary: #fff;
}
/** compartidos **/
.container {
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 15px;
}

.grid {
    display: grid;
    gap: 30px;
}

.section {
    padding-block: 50px;
}
.section__title {
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    
}

.section__title span {
    color: var(--first-color);
}
.section__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-top: 10px;
}
main, input, textarea {
    padding: 5px;
}
body, input, textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
    
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
}
button, input, textarea {
    background-color: transparent;
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--weight-700);
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    display: flex;
    
    align-items: center;
    min-width: 158px;
    height: 35px;
    max-width: 180px;
    border-radius: 35px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    color: var(--text-white);
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--first-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.3s ease-out;
}

.button:hover::before {
    transform: translateX(0);
}
.text__button{
    width: 80%;
    text-align: center;
}
.button__icon {
    background-color: var(--first-color);
    
    inset-block: -2px;
    right: 0;
    width: 40px;
    
    color: var(--text-white);
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 60px;
}
section[id] {
    scroll-margin-top: 50px;
}
.info__description {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

@keyframes showe3 {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@keyframes showe1 {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@keyframes apear {
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
@keyframes apearmovile {
    to{
        clip-path: circle(50% at 50% 50%);
    }
}

/*medias*/
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1024px) {
    :root{
        --big-font-size: 56px;
        --h1-font-size: 70px;
        --h2-font-size: 32px;
        --h3-font-size: 24px;
        --p-font-size: 22px;
        --large-font-size: 18px;
        --normal-font-size: 16px;
        --small-font-size: 15px;
        --smaller-font-size: 14px;
        --tiny-font-size: 12px;
    }
    section[id] {
        scroll-margin-top: 100px;
    }
}